/* W3.CSS 2.82 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

h2{
	text-align: center;
}
.myBody{

	color:#696969!important;
	//background-color:#0d3880!important;
	background-color: rgba(0, 0, 0, 0.8);
	//background-image: url("images/Cyberspace3.jpg")!important;
	// background-repeat: no-repeat;
	 background-size: contain;

}

.myContent{

	//max-width:980px;
	margin:auto;
	margin-top:16px!important;
	margin-bottom:16px!important;
	//max-width:1400px;
}
.myPadding
{
	padding:0 50px;
}
.leftSide, .rightSide{
	box-sizing: inherit;
	padding:0 10px;
	content: "";
    //display: table;
    //clear: both;
}
.test1{

	padding: 10;

}
.test1>.test2{

	color: red;

}


.leftSide,.rightSide{

	float:left;
	width:100%;
	//padding: 5px;
	//padding: 0 8px;
	//border-radius: 25px;
	//background-color: rgba(255, 255, 255, 0.2);
	//border-color: #9ecaed;
	//box-shadow: 0 0 10px #9ecaed;

}
.tabcontent{
	
	background: -webkit-linear-gradient(#FFF, #FFF, #FFF); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#FFF, #FFF, #FFF); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#FFF, #FFF, #FFF); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#FFF, #FFF, #FFF); /* Standard syntax */

}


.tablinks{
	width: 100%;
}

@media only screen and (min-width:900px){

	.leftSide{
		width: 33.33%;
		color:#000!important;
		//background-color:#fff!important;
		//padding:0 8px;
	}

	.rightSide{
		float: left;
		padding:0 8px;
		width: 66.66%;
		//background-color:#fff!important;
	}

}

@media only screen and (min-width:900px){

	.leftSide{
		width: 33.33%;
		color:#000!important;
		//background-color:#fff!important;
	}
	.rightSide{

		width: 66.66%
	}

}

@media only screen and (min-width:993px){

	.leftSide{
		width: 33.33%;
		color:#000!important;
		//background-color:#fff!important;
	}
	.rightSide{

		width: 66.66%
	}

}